External Service/package-lock.json
Server/package-lock.json
Client/package-lock.json

Server/node_modules
External Service/node_modules
Client/node_modules

Worker/InterfaceGrpc/target
Worker/InterfaceGrpc/.settings
Worker/InterfaceGrpc/.vscode

Worker/Worker/target
Worker/Worker/.settings
Worker/Worker/.vscode

.vscode/launch.json
Server/.vscode/launch.json
Worker/.vscode/launch.json

# Ficheros de ayuda
External Service/src/client.js
Worker/Worker/src/main/java/es/practica11/worker/Producer.java
.vscode/settings.json
